.arreglo_bordes {
  text-align: center;
  border: medium solid #0d6efd;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
}
body {
  background-color: white;
}
#index_crear_nuevo_usuario {
  text-align: right;
  margin-top: 25px;
}
.texto_naranja {
  color: #FF8600;
}
.margin-15px {
  margin: 15px;
}
.margin_50px_izquierda {
  margin-left: 50px;
}
.alineado_izquierda {
  text-align: left;
}
.alineado_centrado {
  text-align: center;
}
.alineado_derecha {
  text-align: right;
}
.table-responsive {
  max-height: 300px;
  max-width: 300px;
}
.close {
  color: red;
  text-emphasis-color: red;
}
td {
  font-size: 14px;
}
#tabla_estado_animo {
  width: 295px;
}
.mania {
  color: crimson;
  background-color: lightpink;
  font-size: 20px;
}
.depresion {
  color: blue;
  background-color: aquamarine;
  font-size: 20px;
}
.eutimia {
  color: green;
  background-color: darkseagreen;
  font-size: 20px;  
}
.mania_hospi {
  color: crimson;
  background-color: lightpink;  
}
.depre_hospi {
  color: blue;
  background-color: aquamarine;  
}
.mania-no-hospi {  
  background-color: lavenderblush;
}
.depre-no-hospi {  
  background-color: #DEEAFB;
}
.negrita {
  font-weight: bold;
}

.agrandar_radio{
	width: 20px;
    height: 20px;	
}
.agrandar_checkbox{
	width: 18px;
    height: 18px;	
}
.tamano_letra_14{
	font-size: 14px;
}

.ancho_225px{
  width:225px;
}
