.arreglo_bordes {
  text-align: center;
  border: medium solid #0d6efd;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
}
.borde_redondeado{
	
}
body {
  background-color: white;
}
#index_crear_nuevo_usuario {
  text-align: right;
  margin-top: 25px;
}
.texto_naranja {
  color: #FF8600;
}
.margin-15px {
	margin:15px;
}
.margin_50px_izquierda {
  margin-left: 50px;
}
.alineado_izquierda {
  text-align: left;
}
.alineado_centrado {
  text-align: center;
}
.alineado_derecha {
  text-align: right;
}
.table-responsive {
    max-height:300px;
	max-width:300px;
}
.close{
	color: red;
	text-emphasis-color: red;
}
td{
	font-size: 14px;
	align:center;	
}

